{% extends "base.html" %} {% block content %}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
  <h1 class="text-center text-white display-6">Checkout</h1>
  <ol class="breadcrumb justify-content-start mb-0">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Pages</a></li>
    <li class="breadcrumb-item active text-white">Checkout</li>
  </ol>
</div>
<!-- Single Page Header End -->

<!-- Checkout Page Start -->
<div class="container-fluid py-5">
  <div class="container py-5">
    <h1 class="mb-4">Billing details</h1>
    <form action="{% url 'confirm_order' %}" method="post">
        {% csrf_token %}
      <div class="row g-5">
        <div class="col-md-12 col-lg-6 col-xl-7">
          <div class="bg-light rounded py-3 px-4">
            <div class="row">
              <div class="col-md-12 col-lg-6">
                <div class="form-item w-100">
                  <label class="form-label my-3">First Name<sup>*</sup></label>
                  <input type="text" class="form-control" name="first_name" value="{{request.user.first_name}}" />
                </div>
              </div>
              <div class="col-md-12 col-lg-6">
                <div class="form-item w-100">
                  <label class="form-label my-3">Last Name<sup>*</sup></label>
                  <input type="text" class="form-control"name="last_name" value="{{request.user.last_name}}" />
                </div>
              </div>
            </div>
            <div class="form-item">
              <label class="form-label my-3">Address <sup>*</sup></label>
              <input
                type="text"
                class="form-control"
                name="address"
                placeholder="house number, street name" value="{{request.user.address}}"
              />
            </div>
            <div class="form-item">
              <label class="form-label my-3">house number & street name<sup>*</sup></label>
              <input type="text" class="form-control" name="house_number_street_name" />
            </div>
            <div class="form-item">
                <label class="form-label my-3">City Area<sup>*</sup></label>
                <input type="text" class="form-control" name="city_area" />
              </div>
            <div class="form-item">
              <label class="form-label my-3">Mobile<sup>*</sup></label>
              <input type="tel" class="form-control" name="mobile" value="{{request.user.phone_number}}" />
            </div>
            <div class="form-item">
              <label class="form-label my-3">Email Address<sup>*</sup></label>
              <input type="email" class="form-control" name="email" value="{{request.user.email}}"/>
            </div>
            <hr />
            <div class="form-item">
              <textarea
                name="order_notes"
                class="form-control"
                spellcheck="false"
                cols="30"
                rows="11"
                name="order_notes"
                placeholder="Order Notes (Optional)"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-5">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Products</th>
                  <th scope="col">Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                {% for cart in request.user.cart_items.all %}
                <tr>
                  <th scope="row">
                    <div class="d-flex align-items-center mt-2">
                      <img
                        src="{{cart.product.image.url}}"
                        class="img-fluid rounded-circle"
                        style="width: 90px; height: 90px"
                        alt=""
                      />
                    </div>
                  </th>
                  <td class="py-5">{{cart.product.name}}</td>
                  <td class="py-5">{{cart.product.price}}</td>
                  <td class="py-5">{{cart.quantity}}</td>
                  <td class="py-5">{{cart.total_price}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <div class="bg-light rounded py-3 px-4">
            <div
              class="row g-4 text-center align-items-center justify-content-center border-bottom py-3"
            >
              <h2>Select Your Payment System</h2>
            </div>
            <div
              class="row g-4 text-center align-items-center justify-content-center border-bottom py-3"
            >
              <div class="col-12">
                <div class="form-check text-start my-3">
                  <input
                    type="radio"
                    class="form-check-input bg-primary border-0"
                    id="Payment-1"
                    name="Payments"
                    value="Delivery"
                  />
                  <label class="form-check-label" for="Delivery-1">Esewa</label>
                </div>
              </div>
            </div>
            <div
              class="row g-4 text-center align-items-center justify-content-center border-bottom py-3"
            >
              <div class="col-12">
                <div class="form-check text-start my-3">
                  <input
                    type="radio"
                    disabled
                    class="form-check-input bg-primary border-0"
                    id="Pay"
                    name="Payments"
                    value="Pay"
                  />
                  <label class="form-check-label" for="Pay"
                    >Cash On Delivery</label
                  >
                </div>
              </div>
            </div>
            <div
              class="row g-4 text-center align-items-center justify-content-center pt-4"
            >
              <button
                type="submit"
                class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary"
              >
                Continue
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Checkout Page End -->

{% endblock %}