{% extends 'delivery/base.html' %}

{% block content %}

            <div class="container-fluid px-4">
                <div class="row g-4 my-2">
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="p-4 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                            <h3 class="fs-2">{{orders.count}}</h3>
                            <p class="fs-5">Current Order</p>
                            </div>
                            <i class="fas fa-gift fs-1 primary-text border rounded-full secondary-bg p-4"></i>
                        </div>
                    </div>
            
            
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="p-4 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                            <h3 class="fs-2">{{all_orders.count}}</h3>
                            <p class="fs-5">Total Delivery</p>
                            </div>
                            <i class="fas fa-truck fs-1 primary-text border rounded-full secondary-bg p-4"></i>
                        </div>
                    </div>
                </div>
            
                <div class="row my-5">
                    <h3 class="fs-4 mb-3">Recent Orders</h3>
                    <div class="col">
                        <table class="table table-responsive bg-white rounded shadow-sm table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" width="50">#</th>
                                    <th scope="col">Order ID</th>
                                    <th scope="col">Delivery Address</th>
                                    <th scope="col">Action</th>
                                    <th scope="col">More</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <th scope="row">1</th>
                                    <td>{{order.id}}</td>
                                    <td>{{order.location}}</td>
                                    <td>
                                        <button type="button" class="btn border border-secondary rounded-pill px text-primary btn-sm" data-bs-toggle="modal" data-bs-target="#orderModal{{order.id}}">
                                            Details
                                        </button>
                                        <div class="modal fade" id="orderModal{{order.id}}" tabindex="-1" aria-labelledby="orderModalLabel{{order.id}}" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="orderModalLabel{{order.id}}">Order Details</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p><strong>Order ID:</strong> {{order.id}}</p>
                                                        <p><strong>Date:</strong> {{order.order_date|date:" j M Y  "}}</p>
                                                        <p><strong>Last Name:</strong> {{order.location.last_name}}</p>
                                                        <p><strong>Address:</strong> {{order.location.address}}</p>
                                                        <p><strong>House Number/Street Name:</strong> {{order.location.house_number_street_name}}</p>
                                                        <p><strong>City/Area:</strong> {{order.location.city_area}}</p>
                                                        <p><strong>Mobile:</strong> {{order.location.mobile}}</p>
                                                        <p><strong>Email:</strong> {{order.location.email}}</p>
                                                        <p><strong>Order Notes:</strong> {{order.location.order_notes}}</p>
                                                        <p><strong>Payment Status:</strong> {% if order.payment.status == "C" %}Completed {% else %}Pending{% endif %}</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </td>
                                    <td>
                                        
                                        <a href="tel:+977-{{order.location.mobile}}" class="btn btn-primary">Call</a>
                                        <form action="{% url 'evidence' order.id %}" method="post" class="d-inline" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <label for="photo-upload" class="btn btn-secondary">
                                                <i class="fas fa-upload me-2"></i>Submit Evidence
                                            </label>
                                            <input type="file" id="photo-upload" name="evidence" accept="image/*" style="display: none;" onchange="this.form.submit()">
                                        </form>
    
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4" class="text-center">No Orders</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                </div>
                
            </div>
            
        </div>
    {% endblock content %}