{% extends "farmer/base.html" %}
{% block content %}
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                    <h2 class="fs-2 m-0">Dashboard</h2>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="fw-bold h4" href="{% url 'farmer_profile' %}">
                                <i class="fas fa-user me-2"></i>Subash Dhami
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        <!-- Page Nav Content -->

        <div class="container-fluid">
            <div class="row">
                <h3 class="fs-4 mb-3">Orders Ready for Delivery</h3>
                <div class="col">
                    <table class="table table-bordered text-center">
                        <thead class="table-primary">
                            <tr>
                                <th scope="col" width="50">#</th>
                                <th scope="col">Order ID</th>
                                <th scope="col">Customer Name</th>
                                <th scope="col">Products</th>
                                <th scope="col">Total Amount</th>
                                <th scope="col">Drop-off Date</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{order.id}}</td>
                                <td>{{order.user.username}}</td>
                                <td>{% for item in order.items.all %}
                                    {{item.product.name}}
                                    {% if not forloop.last %}
                                    ,
                                    {% endif %}
                                    {% endfor %}</td>
                                <td>Rs {{order.payment.amount}}</td>
                                <td>{{order.payment.payment_date}}</td>
                                <td>
                                    <button class="btn btn-secondary rounded-pill text-white">Droped</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {% endblock content %}