{% extends "farmer/base.html" %}

{% block content %}
        <div class="container-fluid">
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            </ul>
            {% endif %}
            <div class="row">
                <h3 class="fs-4 mb-3">New Orders List</h3>

                <div class="col">
                    <table class="table table-bordered text-center">
                        <thead class="table-primary">
                            <tr>
                                <th scope="col" width="50">#</th>
                                <th scope="col">Order ID</th>
                                <th scope="col">Customer Name</th>
                                <th scope="col">Products</th>
                                <th scope="col">Total Amount</th>
                                <th scope="col">Order Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">Select Deliverer</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{order.id}}</td>
                                <td>{{order.user.username}}</td>
                                <td>{% for item in order.items.all %}
                                    {{item.product.name}}
                                    {% if not forloop.last %}
                                    ,
                                    {% endif %}
                                    {% endfor %}</td>
                                <td>Rs {{order.payment.amount}}</td>
                                <td>{{order.payment.payment_date}}</td>
                                <td><span class="badge bg-warning">Pending</span></td>
                                <td style="width: 200px;">
                                    {% if order.is_homogenous %}
                                    <form method="post" action="{% url 'assign_deliverer' order.id %}">
                                        {% csrf_token %}
                                        <select class="form-select" id="deliverer" name="deliverer" required>
                                            <option value="">Select Deliverer</option>
                                            {% for deliverer in deliverers %}
                                            <option value="{{ deliverer.id }}">{{ deliverer.username }} - {{deliverer.address}}</option>
                                            {% endfor %}
                                        </select>
                                        <button type="submit" class="btn border border-secondary rounded-pill px-3 text-primary btn-sm mt-2">Accept</button>
                                    </form>
                                    {% else %}
                                    <p class="text-muted">Delivery assigning will be handled by the admin as this order includes items from other farmers</p>
                                    {% endif %}
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="8">No Pending Orders Found</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {% endblock content %}