{% extends 'base.html' %}

{% block content %}

<!-- Page Header -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Order History</h1>
</div>

<div class="container my-5">
    <h2 class="text-center mb-4">All Orders</h2>

    <!-- Orders Table -->
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Products</th>
                    <th scope="col">Total</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Example row 1 -->
                {% for order in order_history %}
                <tr>
                    <td>#{{order.id}}</td>
                    <td>{{order.created_at}}</td>
                    <td>
                        {% for i in order.items.all %}
                        {{i.product.name}} x {{i.quantity}}<br>
                        {% endfor %}
                    </td>
                    <td>{{order.payment.amount}}</td>
                    <td>
                        <a href="{% url 'orderhistory' oredr.id %}" class="btn btn-sm btn-primary">View Details</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
