{% extends 'base.html' %}

{% block content %}

        <!-- start user profile  -->
        <div class="container-fluid hero-header py-3 ">
            <div class="container py-5">
        {% if messages %}
            <div class="container mt-4">
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        {% endif %}
                <h4 class="fw-bold mb-4 ">
                    Account Settings
                </h4>
                <div class="card overflow-hidden">
                    <div class="row g-0">
                        <div class="col-md-3">
                            <div class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-action active h4" data-bs-toggle="list" href="#account-general">Profile</a>
                                <a class="list-group-item list-group-item-action h4" data-bs-toggle="list" href="#account-change-password">Change Password</a>
                                <a class="list-group-item list-group-item-action h4" data-bs-toggle="list" href="#account-info">Orders</a>
                                <a class="list-group-item list-group-item-action h4" data-bs-toggle="list" href="#account-notifications">Order History</span>
                                </a>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-9">
                            <div class="tab-content p-3">
                                <div class="tab-pane fade show active" id="account-general">
                                    <h2 id="exampleModalLabel py-5">Your Profile</h2>
                                    <div class="d-flex align-items-center mb-3">
                                        <img src="{{ request.user.photo.url }}" alt="Photo" class="rounded-circle me-3" 
                                        style="width: 100px; height: 100px; object-fit: cover;">                                   
                                        <div>
                                            <form action="{% url 'upload_photo' %}" method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <label class="btn btn-outline-primary">
                                                    Upload New Photo
                                                    <input type="file"  name="photo" accept="image" class="form-control d-none" onchange="this.form.submit()">
                                                </label>
                                            </form>
                                            <small class="d-block text-muted mt-1">Allowed JPG, GIF or PNG. Max size of 12MB</small>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="mb-3">
                                        <label class="form-label">User ID</label>
                                        <input type="text" class="form-control" readonly value="{{request.user.id}}">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">UserName</label>
                                        <input type="text" class="form-control" readonly value="{{request.user.username}}">
                                    </div>
                                    <form action="{% url 'update_profile' %}" method="post">
                                            {% csrf_token %}
                                        <div class="mb-3">
                                            <label class="form-label">Name</label>
                                            <input type="text" class="form-control" name="name" value="{{request.user.first_name}} {{request.user.last_name}}">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Address</label>
                                            <input type="text" class="form-control" name="address" value="{{request.user.address}}">
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">Number</label>
                                            <input type="text" class="form-control" name="phone" value="{{request.user.phone_number}}">
                                        </div>
                                        <div class="text-end mt-3">
                                            <button type="submit" class="btn btn-primary">Save Changes</button>
                                            <button type="reset" class="btn btn-secondary">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                                
                                <!-- Change Password Tab -->
                                <div class="tab-pane fade" id="account-change-password">
                                    <h1 class="mb-4">Change Your Password</h1>
                                    <form action="{% url 'change_password' %}" method="post">
                                        {% csrf_token %}
                                    <div class="mb-3">
                                        <label class="form-label">Current Password</label>
                                        <input type="password" class="form-control" name="old_password">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">New Password</label>
                                        <input type="password" class="form-control" name="new_password1">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Repeat New Password</label>
                                        <input type="password" class="form-control" name="new_password2">
                                    </div>
                                    <div class="text-end mt-3">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                        <button type="reset" class="btn btn-secondary">Cancel</button>
                                    </div>
                                </form>
                                </div>
            
                                <!-- Order Table -->
                                    <div class="tab-pane fade" id="account-info">
                                        <div class="container mt-5">
                                            <h2 class="text-center mb-4">Current Orders</h2>
                                        
                                            <!-- Orders Table -->
                                            <div class="table-responsive">
                                            <table class="table table-bordered table-hover">
                                                <thead class="table-dark">
                                                    <tr>
                                                        <th scope="col">Order ID</th>
                                                        <th scope="col">Products</th>
                                                        <th scope="col">Items</th>
                                                        <th scope="col">Total</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for order in current_orders %}
                                                    
                                                    <tr>
                                                        <td>{{ order.id }}</td>
                                                        <td>
                                                        {% for item in order.items.all %}
                                                            {{ item.product.name }}
                                                            {% if not forloop.last %}
                                                            ,
                                                            {% endif %}
                                                        {% endfor %}
                                                        </td>
                                                        <td>{{ order.items.count }}</td>
                                                        <td>{{ order.payment.amount }}</td>
                                                        <td>
                                                        <span class="badge bg-warning text-dark">
                                                            {% if order.status == "OD" %}
                                                            Out for Delivery
                                                            {% elif order.status == "P" %}
                                                            Pending
                                                            {% elif order.status == "D" %}
                                                            Delivered
                                                            {% endif %}
                                                        </span>
                                                        </td>
                                                        <td class="d-flex gap-2">
                                                            <a href="{% url 'order_track' order.id %}"><button class="btn btn-primary btn-sm">View</button></a>
                                                            <a href="{% url 'cancel_order' order.id  %}"><button class="btn btn-danger btn-sm">Cancel</button></a>
                                                        </td>
                                                    </tr>
                                                    
                                                    {% empty %}
                                                    <tr>
                                                        <td colspan="6" class="text-center">No Orders Found</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                            </div>
                                        </div>
                                    </div>
                                    
            
            
                                <!-- Order History Tab -->
                                <div class="tab-pane fade" id="account-notifications">
                                    <div class="container my-5">
                                        <h2 class="text-center mb-4">Order History</h2>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover">
                                                <thead class="table-dark">
                                                    <tr>
                                                        <th scope="col">Order ID</th>
                                                        <th scope="col">Product</th>
                                                        <th scope="col">Order Date</th>
                                                        <th scope="col">Items</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">Total</th>
                                                        <th scope="col">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- Sample Order Rows -->
                                                    {% for order in order_history %}
                                                    {% for item in order.items.all %}
                                                    <tr>
                                                        <td>#{{ order.id }}</td>
                                                        <td>{{ item.product.name }}</td>
                                                        <td>{{ order.created_at }}</td>
                                                        <td>{{ item.quantity }}</td>
                                                        <td>
                                                            {% if order.status == 'P' %}
                                                            <span class="badge bg-warning">Pending</span>
                                                            {% elif order.status == 'OD' %}
                                                            <span class="badge bg-info">Out for Delivery</span>
                                                            {% elif order.status == 'D' %}
                                                            <span class="badge bg-success">Delivered</span>
                                                            {% endif %}
                                                        </td>
                                                        <td>Rs.{{ order.payment.amount }}</td>
                                                        <td>
                                                            <a href="{% url 'orderhistory' order.id %}" class="btn btn-sm btn-primary">View Details</a>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                            <a href="{% url 'all_order_history' %}"> <button class="btn btn-primary btn-sm">View Details</button> </a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    <!-- End user profile -->

{% endblock  %}